# Environment files
.venv/
.env
.vscode/

# macOS files
.DS_Store

# Python files
__pycache__/
*.pyc
.pytest_cache/

# C++ compiled files
/bin/

# Bot files
/app/bots/local/

# ML data
/app/strategies/ML/data/

# ML models
/app/strategies/ML/models/